html, body{
    min-height: 100%;
}
html{
    /* display: -webkit-box;
    display: -webkit-flex;
    display: -ms-box; */
    display: flex;
}
body{
    background: #000023;
    min-height: 100%;
    width: 100%;
    align-self: center;
}
.container{
    width: 70%;
    background: royalblue;
    border-radius: 10px;
    padding: 2rem;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px 0px 100px 3px royalblue;
}
.subcontainer{
    width: 90%;
    margin: 0 auto;
}
input[type="number"],
#colonStyles{
    -webkit-transition: background 1s, color 1s, font-size 1s;
    transition: background 1s, color 1s, font-size 1s;
}
input{
    font-size: 2rem;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    border: none;

    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;

    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
}
form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.5rem;
}
.colon{
    font-size: 4rem;
    color: #fff;
    font-family: monospace;
    transition: text-shadow 1s, font-size 1s, color 1s;
}
.form_active{
    background: royalblue;
    color: cyan;
    font-size: 6rem;
    text-shadow:0px 0px 3px 4px navy;
}
