html, body{
    min-height: 100%;
}
html{
    /* display: -webkit-box;
    display: -webkit-flex;
    display: -ms-box; */
    display: flex;
}
body{
    background: #000023;
    min-height: 100%;
    width: 100%;
    align-self: center;
}
.container{
    width: 70%;
    background: royalblue;
    border-radius: 10px;
    padding: 2rem;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px 0px 100px 3px royalblue;
}
.subcontainer{
    width: 90%;
    margin: 0 auto;
}
